**/.DS_Store
*.out
*.test

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

*.pdf
*.mp4